#title: {
    flex-direction: row-reverse;
    background-color: #ef476f;
}

#title-label {
    margin-left: 0;
    margin-right: 6px;
    -unity-font-style: bold;
    color: #111;
}

#textField {
    margin-left: 0;
    margin-right: 6px;
}

#title-button-container {
    align-items: center;
}
