#connector.connectorBox {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.port #connector #cap {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-width: 2px;
}